
    <h1>Welcome,Home page</h1>
    <table>

        <tr>
            <td >username</td>
            <td><%=user.username%></td>
        </tr>
        <tr>
            <td >email</td>
            <td><%=user.email%></td>
        </tr>
        <tr>
            <td> <img src="public/image/<%=user.image %>" width="250px" height="250px" alt ="<%=user.image %>">  </td>
        </tr>
        <tr>
            <td >verified</td>
            <td><% if(user.is_verified==1){
                %> 
                <p>verified</p>
                <%
            }%>
            </td>
        </tr>
    </table>
    <br></br>
   <a href="/edit?id=<%=user._id %>">Edit</a>
   <br></br>
    <a href="/logout"> Logout</a >
        <br></br> 
        <a href="/post/mypost">My posts</a>
        <br></br> 
        <a href="/post/all">All posts</a>

       
